.toplogo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 170px;
    transition: all 0.3s 0s ease;
    text-decoration:none;
    color: #f1ebe5;
    text-shadow: 0 3px 5px #c4b59d,0 -2px 1px #fff;
    white-space: nowrap;
    margin-top: 0;
}

.context {
    font-family: "Kiwi Maru", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #47568F;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: center;
}


.infolink {
    font-family: "Kiwi Maru", serif;
    font-style: normal;
    font-size: 20px;
    background:
        radial-gradient(circle closest-side, currentColor 80%, transparent) bottom 0 left calc(50% - var(--d, 0px)/2) /100% 8px no-repeat,
        radial-gradient(circle closest-side, currentColor 80%, transparent) bottom 0 left calc(50% + var(--d, 0px)/2) /100% 8px no-repeat,
        linear-gradient(currentColor 0 0) bottom /var(--d, 0%) 8px no-repeat;
    transition: 0.5s;
    text-decoration: none;
    color: #47568F;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.infolink:hover {
    --d: 50px;
}

.infolink:active {
    color: rgb(48, 119, 119);
}